@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans bg-dark-900 text-gray-100;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }

  canvas {
    touch-action: none;
  }
}

@layer utilities {
  /* Rotation utilities */
  .rotate-45 {
    @apply rotate-[45deg];
  }
  .rotate-90 {
    @apply rotate-[90deg];
  }
  .rotate-135 {
    @apply rotate-[135deg];
  }
  .rotate-180 {
    @apply rotate-[180deg];
  }
  .rotate-225 {
    @apply rotate-[225deg];
  }
  .rotate-270 {
    @apply rotate-[270deg];
  }
  .rotate-315 {
    @apply rotate-[315deg];
  }
  .rotate-360 {
    @apply rotate-[360deg];
  }
  .-rotate-45 {
    @apply rotate-[-45deg];
  }
  .-rotate-90 {
    @apply rotate-[-90deg];
  }
  .-rotate-135 {
    @apply rotate-[-135deg];
  }
  .-rotate-180 {
    @apply rotate-[-180deg];
  }
  .-rotate-225 {
    @apply rotate-[-225deg];
  }
  .-rotate-270 {
    @apply rotate-[-270deg];
  }
  .-rotate-315 {
    @apply rotate-[-315deg];
  }
  .-rotate-360 {
    @apply rotate-[-360deg];
  }

  /* Typography */
  .heading-1 {
    @apply text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl;
  }
  .paragraph {
    @apply text-base text-primary-200 sm:text-lg;
  }
}
